@use 'sass:color';
@import '../../scss/custom/custom.scss';
@import '../../scss/custom/mixins.scss';
$length: 250px;
.profile-page {
  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__avatar {
    background-color: transparent;
    margin: 0 auto 0;
    display: inline;
    img {
      width: 100%;
    }
  }
  &__pic {
    clip-path: circle(25%);
  }
  &__following {
    margin-left: 2rem;
  }
  &__collections {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 3rem 5rem 0;
  }
  &__text {
    font-size: 1rem;
  }
  &__item {
    margin-left: 2rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
