@import '../../scss/custom/mixins';
$length: 4.25rem;
.like {
	top: -0.025rem;
	position: relative;
	&__icon {
		z-index: 1;
		color: rgba(31, 32, 65, 0.25);
		opacity: 1;
		font-size: $length !important;
		transition: all 0.3s ease-out !important;
		&--floating {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
		}
	}
	&__input {
		opacity: 0;
		width: $length;
		height: $length;
		position: absolute;
		top: 0;
		cursor: pointer;
	}
}
