@use 'sass:color';
@import '../../scss/custom/custom.scss';
@import '../../scss/custom/mixins.scss';
.profile-icon {
  padding: rem(19.5);
  border-radius: 50%;
  background-color: $secondaryIcons;
  position: relative;
  width: $headerIconsLength;
  height: $headerIconsLength;
  span {
    color: white;
  }
  &:hover {
    color: darken(white, 15%);
  }
}
