@use 'sass:color';
@import '../../scss/custom/custom.scss';
@import '../../scss/custom/mixins.scss';

.header {
  &__search-input {
    padding-left: 1rem;
  }
  &__search-icon {
    left: 17px;
  }
}
.btn-dark.add-pin-button {
  background-color: red;
  padding: 5px 6px;
  &:hover {
    background-color: darken(red, 10%);
  }
}
