@use 'sass:color';
@import '../../scss/custom/custom.scss';
@import '../../scss/custom/mixins.scss';
$burgerAppearance: 600px;
.header {
	&__search-input {
		padding-left: 1rem;
		@media screen and (max-width: 800px) {
			& {
				margin: 0;
			}
		}
	}
	&__search-icon {
		left: 17px;
	}
	&__auth {
		margin: 0 2rem 0;
		@media screen and (max-width: 800px) {
			& {
				margin: 0 0.5rem 0;
			}
		}
		@media screen and (max-width: 600px) {
			& {
				display: none;
			}
		}
	}
	&__burger {
		display: none;
		@media screen and (max-width: $burgerAppearance) {
			& {
				display: block;
			}
		}
	}
	&__home-button {
		@media screen and (max-width: 800px) {
			& {
				display: none !important;
			}
		}
	}
	&__profile-icon {
		@media screen and (max-width: $burgerAppearance) {
			display: none;
		}
	}
}

.btn-dark.add-pin-button {
	background-color: red;
	padding: 5px 6px;
	&:hover {
		background-color: darken(red, 10%);
	}
}

.navbar {
	flex-wrap: nowrap !important;
	position: static !important;
}
