.masonry-layout {
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
  column-count: auto;
  column-width: 250px;
  column-gap: 0.5em;
  column-fill: auto;
  &__item {
    margin-bottom: 1rem;
    break-inside: avoid;
    &:hover {
      box-shadow: 0 0.5rem 1rem rgb(96, 90, 90) !important;
    }
  }
  &__pic {
    background-color: gray;
  }
}
