$gap: 1em;
$columnWidth: 250px;
.masonry-layout {
  display: columns;
  column-width: $columnWidth;
  gap: $gap;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 2rem;
  &__item {
    margin-bottom: 1rem;
    break-inside: avoid;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgb(96, 90, 90) !important;
    }
  }

  &__pic {
    background-color: gray;
  }
}

@supports (grid-template-rows: masonry) {
  .masonry {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fill, $columnWidth);
    grid-template-rows: masonry;
    &__item {
      margin-bottom: 0;
    }
    &__featured {
      grid-column: span 2;
    }
  }
}
