@import '../../scss/custom/vars';
$iconLeft: 0;
$iconTop: 0;
.like-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: rem(13);
	margin-right: rem(11);
	position: relative;
	border-radius: 10px;
	width: 40px;
	min-width: 40px;
	max-width: 60px;
	height: 20px;

	&__number {
		transition: all 0.3s linear;
		user-select: none;
	}
}
