$secondaryIcons: hsla(0, 0%, 59%, 1);
$secondary: hsl(0, 0%, 80%);
$input-bg: hsla(0, 0%, 90%, 1);
$mainFontSize: 16px;
$btn-hover-bg-shade-amount: 10%;
$input-padding-x: 2rem;
$headerIconsLength: 35px;
$headerIconsColor: hsl(0, 0%, 59%);
